.history-categories {
    display: flex;
    justify-content: space-evenly;
}
.container-history,
.container-draftpicks {
    display: block;
    color:white;
    cursor: pointer;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    cursor: default;
    color: #dddddd;
}

table.draftTable {
    border-collapse: collapse;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    cursor: default;
}

table.center {
    margin-left: 0 auto;
}

tr, th {
    font-weight: 300;
}
  
td, th,
.ReactTable .rt-td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 10px 10px;
}
  
tr:hover {
    color: rgb(59, 59, 59);
    background-color: #dddddd;
}

.container-history h3,
.container-draftpicks h3 {
    font-weight: 200;
}

#libertyCup,
#drafts {
    height: 350px;
    width: 300px;
    box-shadow: 0 0 50px lightsteelblue;
}

#hallTitle,
#pickTitle {
    padding-bottom: 10px;
    font-weight: 200;
}

#draft-year-overlay,
#draft-round-overlay {
    position: fixed;
    display: none;
    width: 25%;
    height: 25%;
    top: 35%;
    left: 37%;
    right: 35%;
    bottom: 35%;
    border-radius: 20px;
    box-shadow: 0 0 50px lightsteelblue;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    cursor: pointer;
  }

.draft-year-button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.ReactTable .-pagination .-btn {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

