  
  .scroll-wrapper {
      -webkit-overflow-scrolling: touch !important;
      overflow-x: auto !important;
      overflow-y: auto !important;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
  }
  
  #image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  
  /* --------------------------------------------------------- */
  /* BUTTONS */
  /* --------------------------------------------------------- */
  
  /* --------------------------------------------------------- */
  /* Teams */
  /* --------------------------------------------------------- */
  
  .container-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 53vh;
  }
  
  .container-teams img {
    width: 130px;
    height: 130px;
    margin: 1.5px;
    animation: zoomInDown 3s;
    transform: scale(1.0);
    transition: transform 0.75s, opacity 0.75s;
    opacity: 0.75;
  }
  
  .container-teams img:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
  }
  
  .embed-responsive {
    width: 90%;
    margin: 20px 60px;
  }
  
  @media only screen and (max-width: 1680px) {
          
    .container-teams img {
      width: 140px;
      height: 140px;
      margin: 2px;
    }
  }

  @media only screen and (max-width: 1366px) {
          
    .container-teams img {
      width: 120px;
      height: 120px;
      margin: 4px;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .container-teams {
      height:70vh;
    }
    .container-teams img {
      width: 95px;
      height: 95px;
      margin: 3px;
    }
  }

  @media only screen and (max-width: 823px) {
          
    .container-teams img {
      width: 75px;
      height: 75px;
      margin: 2px;
    }
    #frame {
      transform: scale(.75);
    }
    .embed-responsive {
      height: 325%;
      margin: -50px;
      width: 125%;
    }
  }
  
  @media only screen and (max-width: 812px) {
    .container-teams {
      height: 60vh;
    }
          
    .container-teams img {
      width: 75px;
      height: 75px;
      margin: 2px;
    }
    #frame {
      transform: scale(.75);
    }
    .embed-responsive {
      height: 325%;
      margin: -50px;
      width: 125%;
    }
  }
  
  @media only screen and (max-width: 768px) {
          
    .container-teams img {
      width: 125px;
      height: 125px;
      margin: 10px;
    }
    #frame {
      transform: scale(.75);
    }
    .embed-responsive {
      height: 200%;
      margin: -50px;
      width: 125%;
    }
  }
  
  @media only screen and (max-width: 736px) {
          
    .container-teams {
      height: 50vh;
    }
    .container-teams img {
      width: 68px;
      height: 68px;
      margin: 2px;
    }
    #frame {
      transform: scale(.75);
    }
    .embed-responsive {
      height: 325%;
      margin: -50px;
      width: 125%;
    }
  }
  
  @media only screen and (max-width: 667px) {
          
    .container-teams img {
      width: 62px;
      height: 62px;
      margin: 2px;
    }
  }

  @media only screen and (max-width: 640px) {
          
    .container-teams img {
      width: 60px;
      height: 60px;
      margin: 2px;
    }
  }

  @media only screen and (max-width: 568px) {
          
    .container-teams img {
      width: 50px;
      height: 50px;
      margin: 3px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    
    .container-teams {
      height: 65vh;
    }
    .container-teams img {
      width: 74px;
      height: 74px;
      margin: 2px;
    }
    #frame {
      transform: scale(.75);
    }
    .embed-responsive {
      height: 250%;
      margin: -70px;
    }
  }
  
  @media only screen and (max-width: 375px) {

    .container-teams {
      height: 70vh;
    }
          
    .container-teams img {
      width: 70px;
      height: 70px;
      margin: 2px;
    }
    .embed-responsive {
      height: 200%;
    }
  }

  @media only screen and (max-width: 360px) {

    .container-teams {
      height: 58vh;
    }
          
    .container-teams img {
      width: 60px;
      height: 60px;
      margin: 4px;
    }
    .embed-responsive {
      height: 200%;
    }
  }
  
  @media only screen and (max-width: 320px) {

    .container-teams {
      height: 58vh;
    }
          
    .container-teams img {
      width: 55px;
      height: 55px;
      margin: 3px;
    }
    .embed-responsive {
      height: 200%;
    }
  }