* {
  outline: none;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/High+Res+Hockey+5.jpg");
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  background-attachment: fixed;
  background-color: black;
}

.App {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../img/High+Res+Hockey+5.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-color: black; */
}

.header-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-self: flex-start;
  padding-left: 50px;
  padding-top: 10px;
  margin-right: 17%;
  animation-duration: 2s;
  animation-delay: 1s;
}

.logo {
  margin: 0;
  height: 50px;
}

.logo-text {
  color: whitesmoke;
  font-size: 75%;
  width: 100%;
}

.header-text {
  color: #fff;
  font-size: 300%;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  animation-duration: 2s;
  animation-delay: 1s;
}

.rink-text-box {
  display: flex;
  padding: 10px 0 10px 0;
  align-items: center;
  justify-content: center;
  height: 10vh;
  animation-duration: 2s;
  animation-delay: 1s;
}

.sectionShow {
  /* border: 1px solid purple; */
  /* height: 80vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn-ghost:link,
.btn-ghost:visited,
.btn-ghost:focus,
button {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    margin-right: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 200px;
    color: #ecf0f1;
    background: transparent;
    animation-duration: 2s;
    animation-delay: 1s;
    outline: none;
    cursor: pointer;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d63031;
    color: #fff;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: #d63031;
}





/* --------------------------------------------------------- */
/* MEDIA */
/* --------------------------------------------------------- */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1680px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
}

@media only screen and (max-width: 1366px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
}

@media only screen and (max-width: 1024px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .rink-text-box { height: 10vh; }
  .App-header { min-height: 3vh; }
  .App-logo { height: 3vmin; }
  .logo {
    height: 40px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 55%;
  }
}

@media only screen and (max-width: 823px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn-ghost:link,
  .btn-ghost:visited,
  button {
    padding: 5px 15px;
    margin-right: 10px;
  }

  .btn { font-size: .75rem; }
  .logo {
    height: 30px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 812px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn-ghost:link,
  .btn-ghost:visited,
  button {
    padding: 5px 15px;
    margin-right: 10px;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 30px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 768px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 3vh; }
  .App-logo { height: 3vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn:link,
  .btn:visited {
    padding: 5px 15px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 35px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 50%;
  }
}

@media only screen and (max-width: 736px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn:link,
  .btn:visited {
    padding: 5px 15px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
    border: 1.25px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1.25px solid #d63031;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 25px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 667px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 175%;
  }
  .btn-ghost:link,
  .btn-ghost:visited,
  button {
    padding: 3px 10px;
    margin-right: 10px;
    border: 1px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #d63031;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 25px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 568px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 175%;
  }
  .btn-ghost:link,
  .btn-ghost:visited,
  button {
    padding: 3px 10px;
    margin-right: 10px;
    border: 1px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #d63031;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 25px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 414px) {
        
  .row { 
    padding: 0 2%;
    height: 5vh;
  }
  section { padding: 0px 0; }
  .rink-text-box {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .App-header { min-height: 4vh; }
  .App-logo { height: 4vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 135%;
    font-weight: 200;
  }
  .btn-ghost:link,
  .btn-ghost:visited,
  button {
    padding: 3px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #d63031;
  }
  .btn { font-size: .75rem; }
  .logo {
    height: 20px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 375px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .rink-text-box {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .App-header { min-height: 5vh; }
  .App-logo { height: 5vmin; }
  h1 {
    margin-bottom: 10px;
    font-size: 150%;
  }
  .btn:link,
  .btn:visited,
  button {
    padding: 3px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .btn { font-size: .75rem; }
  .logo {
    height: 20px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
} */
