.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  background-color: black;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body,
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("./img/High+Res+Hockey+5.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  background-attachment: fixed;
  background-color: black;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  display: inline-block;
  animation-duration: 2s;
  animation-delay: 1s;
}

h5 {
  margin: 20px;
  color: #fff;
  font-size: 75%;
}

.scroll-wrapper {
	-webkit-overflow-scrolling: touch !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

/* --------------------------------------------------------- */
/* BUTTONS */
/* --------------------------------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    animation-duration: 2s;
    animation-delay: 1s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1.5px solid #ecf0f1;
    color: #ecf0f1;
    margin-right: 20px;
    animation-duration: 2s;
    animation-delay: 1s;
}

.btn:hover,
.btn:active {
   background-color: #d63031;
}

.btn-full:hover,
.btn-full:active {
    border: 1.5px solid #d63031;       
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1.5px solid #d63031;
    color: #fff;
    animation-duration: 2s;
    animation-delay: 1s;
}

.row {
  display: flex;
  height: 12vh;
  max-width: 1140px;
  margin: 0 auto;
  animation-duration: 2s;
  animation-delay: 1s;
}

.logo {
  height: 50px;
  width:auto;
  float:left;
  margin-top: 20px;
}

.rink-text-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50vh;
  animation-duration: 2s;
  animation-delay: 1s;
}

/* --------------------------------------------------------- */
/* Teams */
/* --------------------------------------------------------- */

.container-teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
}

.container-teams img {
  width: 130px;
  height: 130px;
  margin: 1.5px;
  animation: zoomInDown 3s;
  transform: scale(1.0);
  transition: transform 0.75s, opacity 0.75s;
  opacity: 0.75;
}

.container-teams img:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

.embed-responsive {
  width: 90%;
  margin: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1680px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 140px;
    height: 140px;
    margin: 2px;
  }
  .rink-text-box {
    height: 35vh;
  } 
}

@media only screen and (max-width: 1366px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 120px;
    height: 120px;
    margin: 4px;
  }
  .rink-text-box {
    height: 35vh;
  } 
}

@media only screen and (max-width: 1024px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 100px;
    height: 100px;
    margin: 1px;
  }
  .rink-text-box {
    height: 15vh;
  }
  .App-header {
    min-height: 3vh;
  }
  .App-logo {
    height: 3vmin;
  }
  .logo {
    height: 40px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 55%;
  }
}

@media only screen and (max-width: 812px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 75px;
    height: 75px;
    margin: 2px;
  }
  .rink-text-box {
    height: 25vh;
  }
  .App-header {
    min-height: 5vh;
  }
  .App-logo {
    height: 5vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn:link,
  .btn:visited {
    padding: 5px 15px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 30px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
  #frame {
    transform: scale(.75);
  }
  .embed-responsive {
    height: 325%;
    margin: -50px;
    width: 125%;
  }
}

@media only screen and (max-width: 768px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 70px;
    height: 70px;
    margin: 2px;
  }
  .rink-text-box {
    height: 10vh;
  }
  .App-header {
    min-height: 3vh;
  }
  .App-logo {
    height: 3vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn:link,
  .btn:visited {
    padding: 5px 15px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 35px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 50%;
  }
  #frame {
    transform: scale(.75);
  }
  .embed-responsive {
    height: 200%;
    margin: -50px;
    width: 125%;
  }
}

@media only screen and (max-width: 736px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 68px;
    height: 68px;
    margin: 2px;
  }
  .rink-text-box {
    height: 15vh;
  }
  .App-header {
    min-height: 5vh;
  }
  .App-logo {
    height: 5vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 190%;
  }
  .btn:link,
  .btn:visited {
    padding: 5px 15px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
    border: 1.25px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1.25px solid #d63031;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 25px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
  #frame {
    transform: scale(.75);
  }
  .embed-responsive {
    height: 325%;
    margin: -50px;
    width: 125%;
  }
}

@media only screen and (max-width: 667px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 62px;
    height: 62px;
    margin: 2px;
  }
  .rink-text-box {
    height: 35vh;
  }
  .App-header {
    min-height: 5vh;
  }
  .App-logo {
    height: 5vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 175%;
  }
  .btn:link,
  .btn:visited {
    padding: 3px 10px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 10px;
    border: 1px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #d63031;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 25px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
}

@media only screen and (max-width: 414px) {
        
  .row { 
    padding: 0 2%;
    height: 5vh;
  }
  section { padding: 0px 0; }
  .container-teams img {
    width: 74px;
    height: 74px;
    margin: 2px;
  }
  .rink-text-box {
    height: 15vh;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .App-header {
    min-height: 4vh;
  }
  .App-logo {
    height: 4vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 150%;
  }
  .btn:link,
  .btn:visited {
    padding: 3px 10px;
    margin-bottom: 10px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 5px;
    border: 1px solid #ecf0f1;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #d63031;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 20px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
  #frame {
    transform: scale(.75);
  }
  .embed-responsive {
    height: 250%;
    margin: -70px;
  }
}

@media only screen and (max-width: 375px) {
        
  .row { padding: 0 2%; }
  section { padding: 0px 0; }
  .container-teams img {
    width: 70px;
    height: 70px;
    margin: 2px;
  }
  .rink-text-box {
    height: 15vh;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .App-header {
    min-height: 5vh;
  }
  .App-logo {
    height: 5vmin;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 150%;
  }
  .btn:link,
  .btn:visited {
    padding: 3px 10px;
    margin-bottom: 5px;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    margin-right: 5px;
  }
  .btn {
    font-size: .75rem;
  }
  .logo {
    height: 20px;
    margin-top: 10px;
  }
  h5 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25%;
  }
  .embed-responsive {
    height: 200%;
  }
}
